.app-header {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: #f5f7fc;
  color: white;
  justify-content: center;
  align-items: center;
}

.square {
  min-width: 100px;
  min-height: 100px;
  font-size: 64px;
  text-align: center;
  color: #0f1111;
  font-weight: bolder;
  padding: 30px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.border {
  border: 15px solid #0c0c0c;
}

.clear-button {
  width: max-content;
  margin: 40px auto 10px auto;
}
